<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mcommerce</title>

<link rel="stylesheet" type="text/css"
	href="http://localhost:8080/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<h1 class="text-center">Application Mcommerce</h1>
		<h3 class="text-center">Excercice 2</h3>
		<div class="col-md-4 mx-auto mt-5 text-center">
			<p>
				Commande N <span>&#176;</span> <span th:text="${commandeNumber}"
					class="font-weight-bold"></span>
			</p>
			<p>Etat de la commande</p>
			<br>
			<p style="color: #008000" th:text="${state}"></p>

		</div>
	</div>
	<script type="text/javascript"
		src="http://localhost:8080/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>